*
{
    margin:0;
    
}
body{
    
  font-family: "Lora", serif;
}
.navbar{
    background-color: lightcoral;
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;

}
.container
{
  padding: 10px;

}
.box-container{
  padding:10px;
  background-color: lightcoral;
  color:black;
  border-radius: 10px;
  margin:30px;
  width:25%;
  display: inline-block;
  vertical-align: top;
}
.box-container h4
{
 color: beige;
}
.box-container button{
  margin-top: 20px;
  margin-left: 50px;
   padding:5px;
   border-radius: 20px;
   background-color: beige;
   border:none;
}
#add-button{
  border-radius: 100%;
  background-color: lightcoral;
  color: black;
  size: 100%;
  border:none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  position:fixed;
  right: 30px;
  bottom:30px;
  font-size: larger;
}
.popup-overlay
{
  background-color: black;
            height:100%;
            width:100%;
            top:0px;
            left:0px;
            z-index:1;
            position:absolute; 
            opacity: 0.8;
            display:none;
           
}
.popup-box
{
  background-color: lightcoral;
  width:40%;
  padding:40px;
  border-radius:10px;
  position:absolute;
  top:20%;
  left:20%;
  z-index:2;
  display:none;
}
.popup-box input
{
  background:transparent;
  width:100%;
  margin:5px;
  padding:5px;
  font-size:20px;
  border:none;
  border-bottom: solid black 2px;

}
.popup-box textarea
{
  background:transparent;
  width:100%;
  margin:5px;
  padding:5px;
  font-size:20px;
  
  border: solid black 2px;

}
.popup-box input::placeholder
{
  color:black;

}
.popup-box textarea::placeholder
{
  color:black;
}
.popup-box button
{
  background-color:black;
  color: beige;
  padding:10px;
}
.popup-box input:focus{
  outline: none;
}
.popup-box textarea:focus{
  outline: none;
}
